{% if lateral_products is not empty %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h3 class="border-bottom border-gray pb-2 mb-0">{{ lateral_title }}</h3>

        {% for product in lateral_products %}

            <div class="media text-muted pt-3">

                <img class="mr-2 rounded" src="{{ product.photos.first.path }}" alt="{{ product.name }}"
                     style="width: 64px; height: 64px;">

                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">{{ product.name }}</strong>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="text-gray-dark"><i>{{ product.description |slice(0, 20) ~ '...' }}</i></div>
                        {% if product.stock > 0 %}
                            <form action="{{ path('add_to_cart') }}" method="post">
                                <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                <button type="submit" class="btn btn-primary">{{ 'product_add_to_cart' | trans }}</button>
                            </form>
                        {% else %}
                            <button type="button" class="btn btn-primary" disabled>{{ 'product_add_to_cart' | trans }}</button>
                        {% endif %}
                    </div>
                    {% if product.stock > 0 %}
                        <span class="d-block">{{ 'product_stock_information' | trans }} : {{ product.stock }}</span>
                    {% else %}
                        <span class="d-block" style="color: red"><i>{{ 'product_stock_empty' | trans }}</i></span>
                    {% endif %}

                </div>

            </div>

        {% endfor %}
    </div>

{% endif %}