<h3><a href="{{ path('product_details', {'id': product.id}) }}">{{ product.name }}</a></h3>

{% if product.stock > 0 %}
    <div>
        <form action="{{ path('add_to_cart') }}" method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}"/>
            <div class="form-group">
                <label for="product_quantity">Quantité :</label>
                <input type="number" name="product_quantity" class="form-control" min="0" max="{{ product.stock }}" value="1">
            </div>
            <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>

        {{ render(controller(
            'AppBundle:Default:showProductInCart',
            { 'productId': product.id }
        )) }}
    </div>
{% else %}
        <div class="alert alert-warning">Produit indisponible</div>
{% endif %}


    {% for photo in product.photos %}
        <img src="{{ photo.path }}" alt="{{ photo.product.name }}"/>
    {% endfor %}

<ul>
    <li>Prix HT : {{ product.price|displayPrice }}</li>
    <li>Prix TTC : {{ priceTTC(product.price) }} €</li>
</ul>